img[src$="#right"] {
  display: flex;
  flex-direction: column;
  align-items: left;
  border-radius: 1em
  box-shadow: 8px 8px 6px CadetBlue;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  margin-bottom: 20px; /* Adjust as needed */
}
