.image {
  border-radius: 1em
  box-shadow: 8px 8px 6px CadetBlue;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text {
  margin-bottom: 20px; /* Adjust as needed */
}
